
/* CSS for small screens */
@media only screen and (max-width: 600px) {
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100vh;
        background: #111;
        padding-top: 50px;
        z-index: 10;
        flex-direction: column;
        transition: 0.3s ease;
    }

    nav ul.show {
        right: 0;
    }

    nav ul li {
        display: block;
        margin: 25px 0;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    #sidemenu i {
        display: contents;
    }

    #header {
        background-image: url("https://tse1.mm.bing.net/th/id/OIP.DBd_H2Bey8RJUtOWXmvIhQHaJ3?rs=1&pid=ImgDetMain");
    }

    .header-text {
        margin: 50px 0;
        font-size: 16px;
        text-align: center;
    }

    .header-text h1 {
        font-size: 26px;
        line-height: 1.4;
    }

    .logo {
        width: 90px;
    }

    .subtitle {
        font-size: 30px;
        text-align: center;
    }

    .row {
        flex-direction: column;
    }

    .col_1,
    .col_2 {
        width: 100%;
        text-align: center;
    }

    .col_1 img {
        width: 100%;
        height: auto;
        max-width: 350px;
        display: block;
        margin: 0 auto;
    }

    .tab_title {
        flex-direction: column;
        align-items: center;
    }

    .tab_link {
        font-size: 14px;
        margin: 5px 0;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    .service_list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-top: 50px;
    }

    .work_list {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

/* CSS for large screens */
@media only screen and (min-width: 600px) {
    .hamburger .bar{
        display: block;
        font-size: 25px;
        background-color: red;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.5rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }
}
